rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isMyResource(userId){
      return request.auth != null && request.auth.uid ==  userId;
    }

    // アクティビティ書き込み
    match /users/{userId}/activities/{activityId} {
      // 新規作成
      // - 認証済み && 自身のリソース
      allow create: if isMyResource(userId);

      // レコードの更新
      // - 認証済み && 自身のリソース
      // - レコード以外のデータが既存のデータと一致する(スキーマ更新時変更が必要)
      allow update: if isMyResource(userId) && request.resource.data.categoryId == resource.data.categoryId && request.resource.data.trainingEventId == resource.data.trainingEventId && request.resource.data.activityId == resource.data.activityId && request.resource.data.userId == resource.data.userId;
    }

    match /users/{userId}/categories/{categoryId} {
      // 新規作成
      // - 認証済み && 自身のリソース
      allow create: if isMyResource(userId);
    }

    match /users/{userId}/trainingEvents/{categoryId} {
      // 新規作成
      // - 認証済み && 自身のリソース
      allow create: if isMyResource(userId);
    }

    // 自分のデータは全て読み込み可能
    match /users/{userId}/{document=**} {
      allow read: if isMyResource(userId);
    }
  }
}